 .title {
  font-size: 128px;

  line-height: 0.88;

  letter-spacing: -10px;

  font-weight: 300;

  text-align: center;

  color: #111111;

  margin-bottom: 28px;
   
}

.bold {
  font-weight: 700;

  color: #111111;
}

.gradientWord {
  display: inline-block;

  background:
    linear-gradient(
      135deg,
      #ec7662f6,
      #fa0707
    );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;

    line-height: 0.95;

    letter-spacing: -5px;
  }
}